<div class="editable-nugget">
    <div class="nugget-contents nugget-section" contenteditable="true" data-placeholder="Write your nugget..."></div>
    <div class="tags nugget-section">
        <div class="tag-contents" contenteditable="true" data-placeholder="Tag this nugget"></div>
    </div>
    <div class="actions nugget-section">
        <button data-type="create-btn" class="btn waves-effect waves-light btn" type="button" name="create-nugget">
            <i>Create Nugget</i>
        </button>
    </div>
</div>
