<div class="editable-nugget">
    <div class="nugget-contents" contenteditable="true" data-placeholder="Write your nugget..."></div>
    <div class="tags">
        <div class="tag-contents" contenteditable="true" data-placeholder="Tag this nugget"></div>
    </div>
</div>
