<nav class="top-nav">
    <div class="container">
        <a href="/" class="brand-logo">Learned</a>
        <ul class="right hide-on-med-and-down">
            <% if(userId) { %>
                <li><a href="/home">Home</a></li>
                <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </div>
</nav>
