<div class='card col s4 offset-s4 blue-grey darken-1'>
    <div class='card-content white-text'>
        <div class='nugget-content'>
            <%- nugget.content %>
        </div>
        <p><%= nugget.created_at %></p>
        <p><%= nugget.updated_at %></p>
    </div>
    <div class="card-action">
        <% if(showGoToLink) { %>
            <a href="/nugget/<%= nugget.nugget_id %>">Go to Nugget</a>
        <% } %>
    </div>
</div>
