<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/vendor/materialize-0.97.8.min.css">
</head>

<body>
    <header>
        <nav class="top-nav">
            <div class="container">
                <a href="/" class="brand-logo">Learned</a>
            </div>
        </nav>
    </header>
    <br>
    <div class="container">
        <div class="row s12">
            <form method="POST" class="col offset-s4 s4">
                <div class="row">
                    <div class="col s12 input-field">
                        <input type="text" name="email" id="email-input"/>
                        <label for="email-input">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <input type="password" name="password" id="password-input"/>
                        <label for="password-input">Password</label>
                    </div>
                </div>
                <div class="row center-align">
                    <button class="btn waves-effect waves-light btn-large" type="submit" name="action">
                        <i>Login</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script src="/javascripts/vendor/jquery/3.1.1/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/vendor/materialize/0.97.8/materialize.min.js"></script>
</body>
</html>
