<!DOCTYPE html>
<html>
<head>
    <title>Create Nugget</title>
    <style>
        textarea {
            resize: none;
            width: 300px;
            height: 150px;
        }
    </style>
</head>

<body>

    <form id='nugget-form' method='POST'>
        <textarea name='nugget_content' form='nugget-form' placeholder='Enter your nugget to remember here...'></textarea>
        <input type='submit' value='Submit'/>
    </form>

</body>
</html>
