<!DOCTYPE html>
<html>
<head>
    <title>Create Nugget</title>
    <link rel="stylesheet" href="/stylesheets/vendor/materialize-0.97.8.min.css">
    <link rel="stylesheet" href="/stylesheets/create-nugget.css">
</head>

<body>
    <header>
        <%- include('../../partials/nav.ejs'); %>
    </header>
    <div class="main-content container">
        <div class="row s12" data-module="create-nugget-form">
            <form method="POST" action="#" class="col offset-s3 s6">
                <div class="row">
                    <div class="col s12 input-field">
                        <textarea id="contentArea" class="materialize-textarea"></textarea>
                        <label for="contentArea">Content</label>
                    </div>
                </div>
                <div class="row center-align">
                    <button data-type="create-btn" class="btn waves-effect waves-light btn-large" type="button" name="create-nugget">
                        <i>Create Nugget</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script src="/javascripts/vendor/jquery/3.1.1/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/vendor/materialize/0.97.8/materialize.min.js"></script>
    <script src="/javascripts/vendor/t3/2.7.0/t3.min.js"></script>
    <script src="/javascripts/services/dom.js"></script>
    <script src="/javascripts/services/ajax.js"></script>
    <script src="/javascripts/modules/create-nugget-form.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            Box.Application.init({
                debug: true
            });
        });
    </script>

</body>
</html>
