<!DOCTYPE html>
<html>
<head>
    <title>View Nugget</title>
</head>

<body>

<table>
    <tr>
        <th>User Id</th>
        <th>Content</th>
        <th>Created</th>
    </tr>
    <tr>
        <td><%= user_id %></td>
        <td><%= content %></td>
        <td><%= created_date %></td>
    </tr>
</table>

</body>
</html>
